<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Food List Index</title>
        <link rel="stylesheet" href="../../public/assets/css/reset.css">
        <link rel="stylesheet" href="../../public/assets/css/style.css">
        <script src="jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Food Index</h1>
            <p>Log your food here:</p>
        </header>
        <sidebar>
                <button id="create-btn"> 
                    Add Food
                </button>
                <button id="read-btn">
                    See Food List
                </button>
                <button id="update-btn">
                        Update Food
                </button>
                <button id="delete-btn">
                    Delete Food
                </button>
            </sidebar>
        <main>
            <div id="foodIndex">
                
                    {{{ body }}}

            </div>
        </main>
        
        <footer>
            Copyright &copy; 2018 Philippe Recto
        </footer>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="../../assets/javascript.script.js"></script>    
    </body>
</html>