header{
    background-color: red;
    color: white;
    font-size: 80px;
    font-style: oblique;
    text-align: center;
    padding-top: 135px;
    height: 300px;
    border-bottom-color:silver;
}
body{
    width:auto;
}
header{

}
main{
float: left;
}
sidebar{
float: right;
}
footer{
clear: both;
}
#foodIndex{

}        
button{

}
h1 {

}
p {

}